@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}

.navLink hr {
  width: 30px;
  color: #94a3b8;
  opacity: .6;
  font-weight: bold;
}

.navLink span {
  font-size: 12px;
  color: #94a3b8;
  font-weight: bold;
}

.navLink:hover hr {
  width: 60px;
  opacity: 1;
}

.navLink:hover span {
  color: #e2e8f0;
}
